.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f9f2; /* Light green background */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  animation: fadeIn 2s;
}

h2 {
  text-align: center;
  color: #2c6e49; /* Darker green */
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 8px;
  vertical-align: top;
}

input, select {
  width: 100%;
  padding: 8px;
  border: 1px solid #c1e1c1; /* Light green border */
  border-radius: 4px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Add margin to the container */
}

.btn-submit {
  padding: 8px 16px; /* Narrower padding */
  border: none;
  border-radius: 4px;
  background-color: #4caf50; /* Green */
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 48%; /* Make the buttons take equal space */
}

.btn-cancel{
  padding: 8px 16px; /* Narrower padding */
  border: none;
  border-radius: 4px;
  background-color: #c0392b; /* Green */
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 48%; /* Make the buttons take equal space */
}

.btn-submit:hover {
  background-color: #45a049; /* Darker green */
}

.btn-cancel:hover {
  background-color: #922b21; /* Darker green */
}

.notification {
  margin-top: 20px;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
}

.notification.success {
  background-color: #d4edda; /* Light green */
  color: #155724; /* Dark green */
}

.notification.error {
  background-color: #f8d7da; /* Light red */
  color: #721c24; /* Dark red */
}

textarea {
  width: 100%;
  height: 100px; /* Adjust the height as needed */
  padding: 8px;
  border: 1px solid #c1e1c1; /* Light green border */
  border-radius: 4px;
}

