.inquiry-home-content {
    margin: auto;
    padding: 40px;
    font-family: 'Georgia', serif;
    color: #3a3a3a;
}

.support-main h2 {
    font-size: 2.5rem;
    color: #2c3e50;
    text-align: left;
    margin-bottom: 10px;
}

.support-main p {
    font-size: 1.5rem;
    color: #5a5a5a;
    line-height: 1.6;
    text-align: left;
}

.faq-quiz h2 {
    font-size: 1.5rem;
    color: #27ae60;
    margin-top: 30px; /* Reduced margin-top */
    border-bottom: 1px solid #27ae60;
    padding-bottom: 1px; /* Reduced padding-bottom */
    text-align: left; /* Align h2 to the left */
}

.faq-quiz h3 {
    font-size: 1.25rem;
    color: #2c3e50;
    margin-top: 1px; /* Reduced margin-top */
    margin-bottom: 1px; /* Reduced margin-bottom */
    cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
    transition: color 0.3s ease, transform 0.3s ease; /* Added transition for color and transform */
}

.faq-quiz h3:hover {
    color: #1abc9c; /* Change color on hover */
    transform: scale(1.02); /* Slight zoom effect on hover */
}

.faq-quiz p {
    font-size: 1rem;
    color: #4a4a4a;
    line-height: 1.7;
    margin-top: 1px; /* Reduced margin-top */
    margin-bottom: 1px; /* Reduced margin-bottom */
    padding-left: 20px;
    border-left: 4px solid #27ae60;
    max-height: 0; /* Hide the paragraph initially */
    overflow: hidden; /* Hide the content that overflows */
    transition: max-height 2s ease-in-out; /* Slower transition for height change */
}

.faq-quiz p.show {
    max-height: 500px; /* Set to a large enough value to show content */
}
